.Temporary_top_tabs .Temporary_top_tabsList span#TABANCHOR,.Temporary_top_tabs .Temporary_top_tabsList span#TABANCHOR:hover,.Temporary_top_tabs .Temporary_top_tabsList .selected span#TABANCHOR,.Temporary_top_tabs .Temporary_top_tabsList .selected span#TABANCHOR:hover,.Temporary_top_tabs .Temporary_top_tabsList a#TABANCHOR,.Temporary_top_tabs .Temporary_top_tabsList a#TABANCHOR:hover,.Temporary_top_tabs .Temporary_top_tabsList .selected a#TABANCHOR,.Temporary_top_tabs .Temporary_top_tabsList .selected a#TABANCHOR:hover {
    padding-left: 7px !important;
}


.header-layout.flex.content>.flex.content-item.system-search, .header-layout.flex.content>.flex.content-item.with-icon {
    border-right-width: 0 !important;
    margin: 0 !important;
}


/* remove reserved space in recents explorer, giving more space for item description */
div[node_name='pzRecentExplorer'] div[node_name='pyFatListItems'] div.explorer-list-item > div {
    padding-left: 0 !important;
}