
*.zip
*.pdn
local-*/
PegaDevTools.code-workspace
PegaDevTools_2.7z
resources/codemirror/css.html
resources/codemirror/htmlmixed.html
resources/codemirror/javascript.html
resources/codemirror/jsxjava.html
clipboard.experimental.js
