.PegaDevToolsButton {
	border: 3px solid;
	border-radius: 5px;
	margin-right: 7px;
}

.PegaDevToolsButtonRed {
	border-color: tomato;
	background: tomato;
}

.PegaDevToolsButtonOrange {
	border-color: orange;
	background: orange;
}

.pz-pi.pi-clipboard,
.pi.pi-clipboard,
.pz-pi.pi-tracer,
.pi.pi-tracer,
.pz-pi.pi-inspect,
.pi.pi-inspect {
	font-weight: 1000 !important;
}

.PegaDevToolsTextRed {
	color: red;
}

/*can be moved to tracer-event.css*/
.PegaDevToolsTracerCloseBottom {
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer;
}

div#RULE_KEY[name="pyGridPaginator"] a {
	font-size: 20px;
}

div[data-node-id="pzRuntimeToolsTopBar"] div.layout-content-pz-inline-middle {
	font-size: 14px;
}

/*** buttons ***/

.btnPDT {
	background-color: #2196f3;
	color: white;
	padding: 6px;
	font-size: 12px;
	border: none;
	outline: none;
	margin: 0;
	font-weight: bold;
}

.btnPDT:hover,
.dropdown:hover .btnPDT {
	box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.arrow {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.rightPill {
	border-radius: 0 16px 16px 0;
	border-left: 1px solid black;
	padding-right: 10px;
}

.leftPill {
	border-radius: 16px 0 0 16px;
	border-right: 1px solid black;
	padding-left: 10px;
}

.btnPDTGroup {
	display: inline-flex;
	border: 0;
	margin: 4px;
}

.redPDT button {
	background-color: tomato;
}

.orangePDT button {
	background-color: orange;
}

.greenPDT button {
	background-color: green;
}

/*** dropdown ***/
.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.3);
}

.dropdown:hover .dropdown-content {
	display: block;
}

/*** 3-column layout ***/

.PDTcolumn {
	float: left;
	/*width: 33.33%;*/
	padding: 10px;
}

/* Clear floats after the columns */
.PDTrow:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.PDTcolumn {
		width: 100%;
	}
}

/*** table ***/
tr.evenRow.striped,
tr.oddRow.striped {
	background-color: #f2f2f2 !important;
}
