.PegaDevToolsButton {
	border: 3px solid;
	border-radius: 5px;
	margin-right: 7px;
}

.PegaDevToolsButtonRed {
	border-color: tomato;
	background: tomato;
}

.PegaDevToolsButtonOrange {
	border-color: orange;
	background: orange;
}

.pz-pi.pi-clipboard,
.pi.pi-clipboard,
.pz-pi.pi-tracer,
.pi.pi-tracer,
.pz-pi.pi-inspect,
.pi.pi-inspect {
	font-weight: 1000 !important;
}

.PegaDevToolsTextRed {
	color: red;
	border: 1px solid red !important;
}

.PegaDevToolsTextBlue {
	color: blue;
	border: 1px solid blue !important;
}

/*can be moved to tracer-event.css*/
.PegaDevToolsTracerCloseBottom {
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer;
}

div#RULE_KEY[name="pyGridPaginator"] a {
	font-size: 20px;
}

div[data-node-id="pzRuntimeToolsTopBar"] div.layout-content-pz-inline-middle {
	font-size: 14px;
}

/*** buttons ***/

.btnPDT {
	background-color: #2196f3;
	color: white;
	padding: 6px;
	font-size: 12px;
	border: none;
	outline: none;
	margin: 0;
	font-weight: bold;
}

.btnPDT:hover,
.dropdown:hover .btnPDT {
	box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.arrow {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

/* TODO: .transformLeft and .transformRight considered to be removed */
.transformRight {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);	
}

.transformLeft {
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}

.transformUp {
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.transformDown {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.rightPill {
	border-radius: 0 16px 16px 0;
	border-left: 1px solid black;
	padding-right: 10px;
}

.leftPill {
	border-radius: 16px 0 0 16px;
	border-right: 1px solid black;
	padding-left: 10px;
}

.btnPDTGroup {
	display: inline-flex;
	border: 0;
	margin: 4px;
}

.redPDT button {
	background-color: tomato;
}

.orangePDT button {
	background-color: orange;
}

.greenPDT button {
	background-color: green;
}

.greyPDT button {
	background-color: darkgrey;
}

/*** 3-column layout ***/

.PDTcolumn {
	float: left;
	/*width: 33.33%;*/
	padding: 10px;
}

/* Clear floats after the columns */
.PDTrow:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.PDTcolumn {
		width: 100%;
	}
}

/*** table ***/
tr.evenRow.striped,
tr.oddRow.striped {
	background-color: #f2f2f2 !important;
}

div#PDTTracerIndicator {
	white-space: nowrap;
	margin-right: 5px;
	font-size: small;
	margin-top: 2px;
}

div#PDTTracerIndicator >* {
	display: inline-block;
	color: white;
}

div#PDTTracerIndicator button {
	border-radius: 50%;
	color: black;
	width: 21px;
	height: 21px;
	background-color: white;
	font-size: medium;
	font-weight: bold;
	margin-right: 0;
	margin-top: 5px;
}

.margin-top-0 {
	margin-top: 0;
}

.margin-bottom-small {
	margin-bottom: 4px;
}

.PDTdropdown {
	display: none;
	position: fixed;
	z-index: 1;
	background-color: whitesmoke;
	overflow: auto;
	min-width: 160px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	overflow-y: scroll;
	height: 400px;
}

.PDTdropdown a {
	color: black;
	padding: 2px;
	text-decoration: none;
	display: block;
}

.PDTdropdown a:hover {
	background-color: #ddd;
}
  
.initiallyHidden {
	display: none;
}

.PegaDevToolsTransparent, .PegaDevToolsTransparent a {
	color: transparent !important;
}

/* Fixes additional vertical scrollbar in Dev Studio - artifact of one of the libraries used? */
main {
	overflow: unset;
}